.AboutPage {
   text-align: center; 
}

.header {
    margin: 0 auto 0
     auto;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size : 5vw
}

.About {
    background-color: #ffffff;
    border-radius: 25px; 
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 75%;
    height: auto;
    margin: 0 0 0 11%;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.About-Text {
    font-size: 20px;
}

.LinkedIn {
    width : 100%;
    height : 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: -5%;
}

.LogoAndLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

@media (min-width : 390px) {
    .LinkedInImageContainer {
        height : 10%;
        width : 10%;
        margin-right: 1vw;
    }
}

@media (min-width : 768px) {
    .LinkedInImageContainer {
        height : 5%;
        width : 5%;
        margin-right: 1vw;
    }
}

.LinkedInImageContainer img {
    width : 100%;
    height : 100%;
    object-fit: contain;
}

@media (min-width : 390px) {
    .LinkedInLink {
        font-size: 20px;
    }
}
    
@media (min-width : 768px) {
    .LinkedInLink {
        font-size: 25px;
    }
}