@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
  }

.InitialSection {
    position: relative;
    z-index: 10;
    top: 0;
    left : 0;
    width : 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 75px;
}

@media (min-width : 1024px) {
    .InitialSection {
        height: 100vh;
        overflow-y: hidden;
    }
}


.AboutPage {
    width: 100%;
    height: 100%;
}

.Information {
    display: flex;
    flex-direction: column;
    position: absolute;
    width : 1000px;
    bottom: 0;
    z-index: 5;
}

@media (min-width : 1024px) {
    .Information {
        right : 50px;
    }
}


.Socials {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 20px;
    flex-direction: column;
}

@media (min-width: 1440px) {
    .Socials {
        top : 20px;
    }

}


.LinkedIn {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.LinkedIn button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.LinkedIn img {
    position: relative;
    width: 50px;
    height: auto;
}

.YouTube {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.YouTube button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.YouTube img {
    position: relative;
    width: 50px;
    height: auto;
}

.GetYourStart {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.GetYourStart button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.GetYourStart img {
    position: relative;
    width: 50px;
    height: auto;
}

.PageDetails {
    background-color: black;
    position: relative;
    color: white;
    font-family: 'Montserrat';
    width: 100%;
    height: 450px;
}

.PageDetails p {
    position: relative;
    font-family: 'Montserrat';
    font-size: 25px;
    left: 80px;
    width : 80%
}

    .PageDetails p {
        font-size: 25px;
        left: 85px;
    }


.PageDetails h2 {
    position: relative;
    font-family: GlitchFont;
}



    .PageDetails h2 {
        font-size: 30px;
        left: 50px;
    }


.divider {
    width: 100%;
    height : 5px;
    background-color: white;
    margin-bottom: 25px;
}

.header {
    text-align: center;
    font-family: GlitchFont;
    color: white;
    text-wrap: nowrap;
}



.header {
    font-size : 50px;
}


.About {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}




@media (min-width : 1024px) {
    .About {
        align-items: flex-start;
    }
}

.SectionContainer {
    width: 50%;
    height: fit-content;
    margin-bottom: 300px;
}

.NameAndLogo {
    width : 100%;
    height : 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SectionLogoContainer {
    width : 20%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.SectionLogoContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SectionName {
    color: white;
    font-size: 35px;
    font-family: GlitchFont;
}



@media (min-width : 1024px) {
    .SectionName {
        font-size: 35px;
    }
}


.SectionSeparator {
    width: 100%;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: white;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.164);
}

.TextAndImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


@media (min-width : 1024px) {
    .TextAndImageContainer {
        font-size: 20px;
    }
}

.SectionImageContainer {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SectionImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.About-Text {
    font-size: 20px;
}




@media (min-width : 1024px) {
    .LinkedInLogoAndLink {
        width: 20%;
    }
}




@media (min-width : 1024px) {
    .LinkedInImageContainer {
        height : 100%;
        width : 50%;
        margin-right: 1vw;
    }
}

.LinkedInImageContainer img {
    width : 100%;
    height : 100%;
    object-fit: contain;
}


    
@media (min-width : 1024px) {
    .LinkedInLink {
        font-size: 25px;
    }
}

.ContentContainer {
    width: 100%;
    height : 70%;
    height: fit-content;
    background-color: white;
    padding: 25px 25px 25px 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.164);
    font-family: 'Montserrat';
}

@keyframes slide-right {
    0% {
        transform: translate(-1000px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-1000px);
    }
}

.Slide-Right {
    animation: slide-right 0.7s both;
}

.Slide-Left {
    animation: slide-left 0.7s both;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.Fade-In {
    animation: fade-in 1.2s both;
}


    .NasirGriffin {
        position: absolute;
        height: 100vh;
        width : fit-content;
        left : 50px;
        top : 120px;
        z-index: 2;
        overflow-y: hidden;
    }

    .NasirGriffin {
        display: inline-block;
        transform-origin: 50% 50%;
        --amp: 6px;
        --dur: 2s;
        --blink: 0.9;
        --blur: 0.6px;
    }

    /* Create RGB split layers */
    .NasirGriffin::before,
    .NasirGriffin::after {
    content: "";
    position: absolute;
    inset: 0;
    background: center/cover no-repeat;
    background-image: var(--img);       /* ensure we use the var directly */
    mix-blend-mode: screen;
    pointer-events: none;
    will-change: transform, opacity, clip-path, filter;
    opacity: 0.75;
    z-index: 2;                          /* <-- bring slices above <img> */
    }

    .NasirGriffin::before {
    filter: drop-shadow(0 0 0 #00ffff);
    animation: shift var(--dur) steps(12,end) infinite,
                slice var(--dur) steps(24,end) infinite,
                blink calc(var(--dur)*.9) steps(10,end) infinite;
    }

    .NasirGriffin::after {
    filter: drop-shadow(0 0 0 #ff00ff);
    animation: shift2 var(--dur) steps(12,end) infinite reverse,
                slice2 var(--dur) steps(24,end) infinite,
                blink calc(var(--dur)*.9) steps(10,end) infinite reverse;
    }

    .NasirGriffin img{
        display: block;
        animation: microjit var(--dur) steps(20,end) infinite,
        pop calc(var(--dur)*3) linear infinite;
        transform-origin: inherit;
        position: relative;
        z-index: 1;         /* stays below the color layers */
    }


.NasirGriffin img {
    width: auto;
    height : 100%;
    overflow-y: hidden;
}

@media (max-width: 1023px) and (pointer: coarse) and (hover: none) {
    .InitialSection {
        min-height: 100vh;
        height: auto;
    }

    .Information {
        position: relative;
        margin-top: 70px;
        width : 90vw;
        height: fit-content;
    }

    .Socials {
        position: relative;
        right : 0;
        flex-direction: row;
    }

    .PageDetails {
        height: 100%;
    }

    .PageDetails p {
        font-size: 4vw;
        left: 30px;
    }

    .PageDetails h2 {
        font-size: 4vw;
        left: 20px;
    }

    .NasirGriffin {
        width : 0px;
        height: 0px;
        display: none;
    }

    .LinkedInLink {
        font-size: 15px;
        font-family: GlitchFont;
    }

    .LinkedInImageContainer {
        height : 100%;
        width : 50%;
        margin-right: 1vw;
    }

    .LinkedInLogoAndLink {
        width: 30%;
    }

    .TextAndImageContainer {
        font-size: 12px;
    }

    .SectionName {
        font-size: 15px;
    }

    .About {
        align-items: center;
    }

    .header {
        font-size : 20px;
        text-wrap: wrap;
    }

    .SectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .NameAndLogo {
        width: 100%;
    }

    .ContentContainer {
        width: 100%;
    }

    .divider {
        min-height: 5px;
    }
}

@media (max-width: 1439px) and (min-width : 1024px) and (pointer: coarse) and (hover: none) {
    .Information {
        position: absolute;
        width: 45%;
        right: 2%;
        top : 60%;
        transform: translateY(-60%);
        height: 80%;
    }

    .SectionContainer {
        width: 70%;
    }

    .NasirGriffin {
        z-index: -1;
    }

    .PageDetails {
        height: 90vh;
    }

    .PageDetails h2 {
        font-size: 25px;
    }

    .PageDetails p {
        font-size: 20px;
    }

    .divider {
        height: 5px;
        min-height: 5px;
        margin-bottom: 15px;
    }

    .Socials {
        bottom : 20px;
        right: 20px;
        flex-direction: row;
    }

    .header {
        font-size: 3vw;
        text-wrap: wrap;
    }
}