@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
  }

.InitialSection {
    position: relative;
    top: 0;
    left : 0;
    width : 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin-bottom: 75px;
}



.AboutPage {
    width: 100%;
    height: 100%;
}

.Information {
    display: flex;
    flex-direction: column;
    position: absolute;
}

@media (max-width : 1439px) {
    .Information {
        left : 50%;
        transform: translate(-50%);
        width : 300px;
    }
}

@media (min-width : 1440px) {
    .Information {
        display: flex;
        flex-direction: column;
        position: absolute;
        right : 50px;
        width : 1000px;
    }
}

.Socials {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width : 1439px) {
    .Socials {
        bottom : 20px;
        right: 20px;
        flex-direction: row;
    }
}

@media (min-width : 1440px) {
    .Socials {
        top : 20px;
        right: 20px;
        flex-direction: column;
    }
}

.LinkedIn {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.LinkedIn button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.LinkedIn img {
    position: relative;
    width: 50px;
    height: auto;
}

.YouTube {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.YouTube button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.YouTube img {
    position: relative;
    width: 50px;
    height: auto;
}

.GetYourStart {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.GetYourStart button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.GetYourStart img {
    position: relative;
    width: 50px;
    height: auto;
}

.PageDetails {
    background-color: black;
    position: relative;
    color: white;
    width: 100%;
    height: 450px;
}

.PageDetails p {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    left: 80px;
    width : 80%
}

@media (max-width : 1439px) {
    .PageDetails p {
        font-size: 15px;
        left: 30px;
    }
}

@media (min-width : 1440px) {
    .PageDetails p {
        font-size: 25px;
        left: 85px;
    }
}

.PageDetails h2 {
    position: relative;
    font-family: GlitchFont;
}

@media (max-width : 1439px) {
    .PageDetails h2 {
        font-size: 20px;
        left: 20px;
    }
}

@media (min-width : 1440px) {
    .PageDetails h2 {
        font-size: 30px;
        left: 50px;
    }
}

.divider {
    width: 100%;
    height : 5px;
    background-color: white;
    margin-bottom: 25px;
}

.header {
    text-align: center;
    font-family: GlitchFont;
    color: white;
}

@media (max-width : 1439px) {
    .header {
        font-size : 20px;
    }
}

@media (min-width : 1440px) {
    .header {
        margin-top: 170px;
        font-size : 50px;
    }
}

.About {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width : 390px) {
    .About {
        align-items: center;
    }
}

@media (min-width : 768px) {
    .About {
        align-items: flex-start;
    }
}

.SectionContainer {
    width: 50%;
    min-height : 700px;
    height: fit-content;
    margin-bottom: 50px;
}

.NameAndLogo {
    width : 100%;
    height : 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SectionLogoContainer {
    width : 20%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.SectionLogoContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SectionName {
    color: white;
    font-size: 35px;
    font-family: GlitchFont;
}

@media (min-width : 390px) {
    .SectionName {
        font-size: 15px;
    }
}

@media (min-width : 768px) {
    .SectionName {
        font-size: 35px;
    }
}


.SectionSeparator {
    width: 100%;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: white;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.164);
}

.TextAndImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media (min-width : 390px) {
    .TextAndImageContainer {
        font-size: 12px;
    }
}

@media (min-width : 768px) {
    .TextAndImageContainer {
        font-size: 20px;
    }
}

.SectionImageContainer {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SectionImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.About-Text {
    font-size: 20px;
}


@media (min-width : 390px) {
    .LinkedInLogoAndLink {
        width: 30%;
    }
}

@media (min-width : 768px) {
    .LinkedInLogoAndLink {
        width: 20%;
    }
}

@media (min-width : 390px) {
    .LinkedInImageContainer {
        height : 100%;
        width : 50%;
        margin-right: 1vw;
    }
}

@media (min-width : 768px) {
    .LinkedInImageContainer {
        height : 100%;
        width : 50%;
        margin-right: 1vw;
    }
}

.LinkedInImageContainer img {
    width : 100%;
    height : 100%;
    object-fit: contain;
}

@media (min-width : 390px) {
    .LinkedInLink {
        font-size: 15px;
        font-family: GlitchFont;
    }
}
    
@media (min-width : 768px) {
    .LinkedInLink {
        font-size: 25px;
    }
}

.ContentContainer {
    width: 100%;
    height : 70%;
    height: fit-content;
    background-color: white;
    padding: 25px 25px 25px 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.164);
}

@keyframes slide-right {
    0% {
        transform: translate(-1000px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-1000px);
    }
}

.Slide-Right {
    animation: slide-right 0.7s both;
}

.Slide-Left {
    animation: slide-left 0.7s both;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.Fade-In {
    animation: fade-in 1.2s both;
}

@media (max-width : 1439px) {
    .NasirGriffin {
        width : 0px;
        height: 0px;
        display: none;
    }
}

@media (min-width : 1440px) {
    .NasirGriffin {
        position: absolute;
        height: 100vh;
        width : fit-content;
        left : 50px;
        top : 120px;
        overflow-y: hidden;
    }
}

.NasirGriffin img {
    width: auto;
    height : 100%;
    overflow-y: hidden;
}

.NasirGriffin {
    display: inline-block;
    transform-origin: 50% 50%;
    --amp: 6px;
    --dur: 2s;
    --blink: 0.9;
    --blur: 0.6px;
}

/* Create RGB split layers */
.NasirGriffin::before,
.NasirGriffin::after {
  content: "";
  position: absolute;
  inset: 0;
  background: center/cover no-repeat;
  background-image: var(--img);       /* ensure we use the var directly */
  mix-blend-mode: screen;
  pointer-events: none;
  will-change: transform, opacity, clip-path, filter;
  opacity: 0.75;
  z-index: 2;                          /* <-- bring slices above <img> */
}

.NasirGriffin::before {
  filter: drop-shadow(0 0 0 #00ffff);
  animation: shift var(--dur) steps(12,end) infinite,
             slice var(--dur) steps(24,end) infinite,
             blink calc(var(--dur)*.9) steps(10,end) infinite;
}

.NasirGriffin::after {
  filter: drop-shadow(0 0 0 #ff00ff);
  animation: shift2 var(--dur) steps(12,end) infinite reverse,
             slice2 var(--dur) steps(24,end) infinite,
             blink calc(var(--dur)*.9) steps(10,end) infinite reverse;
}

.NasirGriffin img{
    display: block;
    animation: microjit var(--dur) steps(20,end) infinite,
    pop calc(var(--dur)*3) linear infinite;
    transform-origin: inherit;
    position: relative;
    z-index: 1;         /* stays below the color layers */
}