@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
  }

.Contact {
    width : 100%;
    height: 100%;
}

.ContactPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

@media (max-width : 1439px) {
    .ContactPage {
        margin-top: 60px;
    }
}

@media (min-width : 1440px) {
    .ContactPage {
        margin-top: 110px;
    }
}

.ContactContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    right : 5%;
    width: 100%;
}


  
@media (min-width : 390px) {
    .ContactContainer {
        flex-direction: column;
    }
    
}

@media (min-width : 768px) {
    .ContactContainer {
        flex-direction: row;
    }
    
}

@media (min-width : 390px) {
    .Contact form {
        display: flex;
        flex-direction: column;
        width: 200px; /* Adjust as needed */
        margin: auto; /* Centers the form */
    }
}

@media (min-width : 768px) {
    .Contact form {
        display: flex;
        flex-direction: column;
        width: 300px; /* Adjust as needed */
        margin: auto; /* Centers the form */
    }
}

.Contact label {
    margin-top: 10px;
    font-weight: bold; /* Optional: makes the label text more visible */
}

.Contact input[type="text"] {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.Contact textarea {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.Contact input[type="submit"] {
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.Contact input[type="submit"]:hover {
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(0, 5, 54);
    color: grey;
    border-color: rgb(0, 5, 54);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

textarea {
    resize: both; /* Allow both vertical and horizontal resizing */
    width: 100%; /* Optional: Make it take full width */
    max-width: 100%; /* Prevent resizing beyond container width */
    min-height: 100px; /* Set a minimum height */
}

.ContactBanner {
    font-family: GlitchFont;
    transform: rotate(270deg);
    color: white;
    height: 100px
}

.ThankYou {
    position: absolute;
    color: white;
    width: fit-content;
    top : 50%;
    left : 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

@media (min-width : 390px) {
    .ContactBanner {
        font-size: 25px;
        margin-right: -90px;
    }
}

@media (min-width : 768px) {
    .ContactBanner {
        font-size: 50px;
    }
}



.FormContainer {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    box-shadow: black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-self: center;
    margin: 50px 0 0 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.FormContainer form input {
    font-family: "Montserrat";
}

.FormContainer form textarea {
    font-family: "Montserrat";
}

.ContactInstructions {
    font-family: GlitchFont;
    color: white;
    margin-left: 25%;
}

@media (min-width : 390px) {
    .ContactInstructions {
        font-size: 25px;
    }
}

@media (min-width : 768px) {
    .ContactInstructions {
        font-size: 50px;
    }
}


.BannerAndForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.Fade-In {
    animation: fade-in 1.2s both;
}