@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
  }

@media (orientation: landscape) {
    .Contact {
        width : 100%;
        height: 100%;
    }

    .ContactPage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }

    .ContactPage {
        margin-top: 110px;
    }


    .ContactContainer {
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        position: relative;
        right : 5%;
        width: 100%;
    }

    .ContactContainer {
        flex-direction: row;
    }


    .Contact form {
        display: flex;
        flex-direction: column;
        width: 20vw; /* Adjust as needed */
        margin: auto; /* Centers the form */
    }


    .Contact label {
        margin-top: 10px;
        font-weight: bold; /* Optional: makes the label text more visible */
    }

    .Contact input[type="text"] {
        margin-top: 5px;
        padding: 8px;
        font-size: 1.3vw;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .Contact textarea {
        margin-top: 5px;
        padding: 8px;
        font-size: 1.3vw;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .Contact input[type="submit"] {
        margin-top: 15px;
        cursor: pointer;
        border-radius: 10px;
        background-color: blue;
        color: white;
        border-color: blue;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.3vw;
        font-family: 'Montserrat';
        font-weight: bold;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .Contact input[type="submit"]:hover {
        background-color: rgb(0, 5, 54);
        color: grey;
        border-color: rgb(0, 5, 54);
    }

    textarea {
        resize: both; /* Allow both vertical and horizontal resizing */
        width: 100%; /* Optional: Make it take full width */
        max-width: 100%; /* Prevent resizing beyond container width */
        min-height: 15vh; /* Set a minimum height */
    }

    .ContactBanner {
        font-family: GlitchFont;
        transform: rotate(270deg);
        color: white;
        height: 5vw
    }

    .ThankYou {
        position: absolute;
        color: white;
        width: 90%;
        top : 50%;
        left : 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: "Montserrat";
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
    }

    .ContactBanner {
        font-size: 4vw;
        margin-right: -90px;
    }
    
    .FormContainer {
        border-style: solid;
        border-width: 1px;
        background-color: white;
        box-shadow: black;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-self: center;
        margin: 50px 0 0 0;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .FormContainer form input {
        font-family: "Montserrat";
    }

    .FormContainer form textarea {
        font-family: "Montserrat";
    }

    .ContactInstructions {
        font-family: GlitchFont;
        color: white;
        margin-left: 25%;
    }


    .BannerAndForm {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @keyframes fade-in {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .Fade-In {
        animation: fade-in 1.2s both;
    }
}

@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
  }

@media (orientation: portrait) {
    .Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width : 100%;
        height: 100%;
    }

    .ContactPage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }

    .ContactPage {
        margin-top: 110px;
    }


    .ContactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        position: relative;
        width: 100%;
    }


    .Contact form {
        display: flex;
        flex-direction: column;
        width: 50vw; /* Adjust as needed */
        margin: auto; /* Centers the form */
    }


    .Contact label {
        margin-top: 10px;
        font-weight: bold; /* Optional: makes the label text more visible */
    }

    .Contact input[type="text"] {
        margin-top: 5px;
        padding: 8px;
        font-size: 1.8vh;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .Contact textarea {
        margin-top: 5px;
        padding: 8px;
        font-size: 1.8vh;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .Contact input[type="submit"] {
        margin-top: 15px;
        cursor: pointer;
        border-radius: 10px;
        background-color: blue;
        color: white;
        border-color: blue;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.8vh;
        font-family: 'Montserrat';
        font-weight: bold;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .Contact input[type="submit"]:hover {
        background-color: rgb(0, 5, 54);
        color: grey;
        border-color: rgb(0, 5, 54);
    }

    textarea {
        resize: both; /* Allow both vertical and horizontal resizing */
        width: 100%; /* Optional: Make it take full width */
        max-width: 100%; /* Prevent resizing beyond container width */
        min-height: 15vh; /* Set a minimum height */
    }

    .ContactBanner {
        display: none;
        font-family: GlitchFont;
        transform: rotate(270deg);
        color: white;
        height: 5vw
    }

    .ThankYou {
        position: absolute;
        color: white;
        width: 90%;
        top : 50%;
        left : 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: "Montserrat";
        font-size: 2vh;
        font-weight: 700;
        text-align: center;
    }

    .ContactBanner {
        font-size: 4vw;
        margin-right: -90px;
    }
    
    .FormContainer {
        border-style: solid;
        border-width: 1px;
        background-color: white;
        box-shadow: black;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-self: center;
        margin: 50px 0 0 0;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .FormContainer form input {
        font-family: "Montserrat";
    }

    .FormContainer form textarea {
        font-family: "Montserrat";
    }

    .ContactInstructions {
        font-family: GlitchFont;
        color: white;
        margin-left: 25%;
        display: none;
    }


    .BannerAndForm {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @keyframes fade-in {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .Fade-In {
        animation: fade-in 1.2s both;
    }
}