@font-face {
    font-family: HackedFont;
    src: url('../assets/fonts/Hacked-KerX.ttf');
  }

@media (orientation: landscape) {
    .NavBar {
        width: 100%;
        height: 95%;
        background-color: rgb(0, 0, 0);
        display : flex;
        justify-content: center;

    }

    .NavSeparator {
        width: 100%;
        height: 5%;
        border-style: solid;
        border-color: white;
        background-color: white;
    }

    .navContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 5000;
        top: 0%;
        left: 0%;
        height: 5vw;
    }

    .NavBar .Link {
        color: white;
        font-family: HackedFont;
        font-size: 2.3vw;
        font-weight: bold;
        margin: 0px 5% 0px 5%;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: color 300ms ease-in-out;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .NavBar .Link:hover {
        color: rgb(0, 5, 54);
        transform: scale(1.2);
    }

    .link-node-enter {
        transform: scale(1); /* Start at 0 opacity */
    }

    .link-node-enter-active {
        transform: scale(1.2); /* Transition to 1 opacity */
        transition: all 2000ms ease-in-out; /* Smooth fade-in */
    }

    .link-node-exit {
        transform: scale(1.2); /* Start at full opacity */
    }

    .link-node-exit-active {
        transform: scale(1); /* Transition to 0 opacity */
        transition: all 2000ms ease-in-out; /* Smooth fade-out */
    }
}

@media (orientation: portrait) {
    .NavBar {
        width: 100%;
        height: 95%;
        background-color: rgb(0, 0, 0);
        display : flex;
        justify-content: center;

    }

    .NavSeparator {
        width: 100%;
        height: 5%;
        border-style: solid;
        border-color: white;
        background-color: white;
    }

    .navContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 5000;
        top: 0%;
        left: 0%;
        height: 5vh;
    }

    .NavBar .Link {
        color: white;
        font-family: HackedFont;
        font-size: 1.5vh;
        font-weight: bold;
        margin: 0px 5% 0px 5%;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: color 300ms ease-in-out;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .NavBar .Link:hover {
        color: rgb(0, 5, 54);
        transform: scale(1.2);
    }

    .link-node-enter {
        transform: scale(1); /* Start at 0 opacity */
    }

    .link-node-enter-active {
        transform: scale(1.2); /* Transition to 1 opacity */
        transition: all 2000ms ease-in-out; /* Smooth fade-in */
    }

    .link-node-exit {
        transform: scale(1.2); /* Start at full opacity */
    }

    .link-node-exit-active {
        transform: scale(1); /* Transition to 0 opacity */
        transition: all 2000ms ease-in-out; /* Smooth fade-out */
    }
}