.NavBar {
    width: 100%;
    height: 100%;
    background-color: blue;
    display : flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    height: 30%;
}

.NavBar .Link {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0px 5% 0px 5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.NavBar .Link:hover {
    color: rgb(0, 5, 54);
    font-size: 50px;
    font-weight: bold;
    margin: 0px 5% 0px 5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

