@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
}

.Projects {
    width: 100%;
    height: 100%;
}

.ListOfProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    justify-items: center;
    align-items: center;
}


.ProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-color:  rgb(228, 228, 228);
    border-width: 1px;
    border-style: solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.164);
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

@media (min-width : 390px) {
    .ProjectContainer {
        height: 500px;
    }
}

@media (min-width : 768px) {
    .ProjectContainer {
        height: 600px;
    }
}

.Project {
    padding: 25px 25px 25px 25px;
    width : 80%;
    height : 80%
}

@media (max-width : 700px) {
    .Project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width : 390px) {
    .ProjectName {
        font-family: GlitchFont;
        font-weight: bold;
        font-size: 15px;
    }
}

@media (min-width : 768px) {
    .ProjectName {
        font-family: GlitchFont;
        font-weight: bold;
        font-size: 25px;
    }
}

@media (min-width : 390px) {
    .ImgAndDesc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width : 100%;
        height : fit-content;
    }
}

@media (min-width : 768px) {
    .ImgAndDesc {
        display: flex;
        flex-direction: row;
        align-items: center;
        width : 100%;
        height : fit-content;
    }
}

@media (min-width : 390px) {
    .ProjectDesc {
        font-size: 12px;
    }
}

@media (min-width : 768px) {
    .ProjectDesc {
        font-size: 20px;
    }
}

.ProjectImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width : 390px) {
    .ProjectImageContainer {
        width : 40%;
        height : fit-content;
        margin-right: 20px;
    }
}

@media (min-width : 768px) {
    .ProjectImageContainer {
        width : 20%;
        height : 20%;
        margin-right: 20px;
    }
}

.ProjectImageContainer img {
    display: flex;
    align-self: center;
    width : 100%;
    height : auto;
    object-fit: contain;
    max-height: 100px;
}

.Github {
    width : 100%;
    height : 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.GithubLogoAndLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 25px 25px 25px 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.164);
}

@media (min-width : 390px) {
    .GithubLogoAndLink {
        width: 70%;
        height: 100px;
    }
}

@media (min-width : 768px) {
    .GithubLogoAndLink {
        width: 20%;
        height: 100%;
    }
}

@media (min-width : 390px) {
    .GithubImageContainer {
        height : 100%;
        width : 30%;
    }
}

@media (min-width : 768px) {
    .GithubImageContainer {
        height : 100%;
        width : 50%;
    }
}

.GithubImageContainer img {
    width : 100%;
    height : 100%;
    object-fit: contain;
}

@media (min-width : 390px) {
    .GithubLink {
        font-size: 15px;
        font-family: GlitchFont;
    }
}

@media (min-width : 768px) {
    .GithubLink {
        font-size: 25px;
        font-family: GlitchFont;
    }
}

.GithubLink:hover {
    font-size: 25px;
    transform: scale(1.2);
}

.Technologies {
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    width : 100%;
    height : 60%;
    max-width : 100%;
}

.Languages, .Frontend, .Backend, .Database {
    display: flex;
    flex-direction: row;
    align-items: center;
    height : 25%;
    width : 100%
}

.LanguageContainer, .FrontendContainer, .BackendContainer, .DatabaseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width : 100%;
    height : 100%;
}

.TechnologyCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 15%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.TechnologyCont img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.TechnologyType {
    font-family: GlitchFont;
    font-weight: bold;
}

@media (min-width : 390px) {
    .TechnologyType {
        font-size: 10px;
    }
}

@media (min-width : 768px) {
    .TechnologyType {
        font-size: 25px;
    }
}

.ProjectsBanner {
    text-align: center;
    font-size: 50px;
    font-family: GlitchFont;
    color: white;
    width: 100%;
}

@media (min-width : 390px) {
    .ProjectsBanner {
        font-size: 25px;
    }
}

@media (min-width : 768px) {
    .ProjectsBanner {
        font-size: 50px;
    }
}

.ProjectLink {
    font-family: GlitchFont;
    transform: scale(1.2);
}

@media (min-width : 390px) {
    .ProjectLink {
        font-size: 10px;
    }
}

@media (min-width : 768px) {
    .ProjectLink {
        font-size: 25px;
    }
}

.ProjectLink:hover {
    transform: scale(1.2);
}

.InitialSection {
    width : 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes slide-up {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity : 100%
    }
    100% {
        opacity : 0%
    }
}

.Slide-Up {
    animation: slide-up 0.7s both;
}

.Fade-Out {
    animation: fade-out 0.7s both;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.Fade-In {
    animation: fade-in 1.2s both;
}

.Projects .InitialSection h2 {
    text-align: center;
    font-size : 2vw;
    font-family: GlitchFont;
    color: white;
}