@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
}



@media (min-width : 1440px) {
    .ProjectIMG, .UbuntuLogo {
        position: absolute;
        top : 50%;
        transform: translateY(-50%);
        width: 25%;
        height: fit-content;
        left : 50px;
        bottom : 70px;
        overflow-y: hidden;
        z-index: 2;
    }
}

.ProjectIMG img, .UbuntuLogo img {
    width: 100%;
    height : auto;
    overflow-y: hidden;
}

@media (min-width : 1440px) {

}



.Github {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Github button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.Github img {
    position: relative;
    width: 50px;
    height: auto;
}

.YouTube {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.YouTube button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.YouTube img {
    position: relative;
    width: 50px;
    height: auto;
}

.GetYourStart {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.GetYourStart button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.GetYourStart img {
    position: relative;
    width: 50px;
    height: auto;
}

.divider {
    width: 100%;
    height : 5px;
    background-color: white;
    margin-bottom: 25px;
}

.header {
    text-align: center;
    font-family: GlitchFont;
    color: white;
}



@media (min-width : 1440px) {
    .header {
        margin-top: 170px;
        font-size : 50px;
    }
}



.Projects {
    width: 100%;
    height: 100%;
}

.ListOfProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
}


.ProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-color:  rgb(228, 228, 228);
    border-width: 1px;
    border-style: solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.164);
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    margin-bottom: 100px;
    width: 80%;
}



@media (min-width : 1440px) {
    .ProjectContainer {
        min-height: 700px;
        height: fit-content;
        
    }
}

.Project {
    padding: 25px 25px 25px 25px;
    width : 80%;
    height : 80%
}

@media (max-width : 700px) {
    .Project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}



@media (min-width : 1440px) {
    .ProjectName {
        font-family: GlitchFont;
        font-weight: bold;
        font-size: 25px;
    }
}



@media (min-width : 1440px) {
    .ImgAndDesc {
        display: flex;
        flex-direction: row;
        align-items: center;
        height : fit-content;
    }
}




@media (min-width : 1440px) {
    .ProjectDesc {
        font-size: 20px;
        width : 600px;
        height: 100%;
        text-wrap: wrap;
    }
}

.ProjectImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media (min-width : 1440px) {
    .ProjectImageContainer {
        width : 200px;
        height : 200px;
        margin-right: 20px;
    }
}

.ProjectImageContainer img {
    display: flex;
    align-self: center;
    width : 100%;
    height : auto;
    object-fit: contain;
}

.Technologies {
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    width : 100%;
    height : 60%;
    max-width : 100%;
    margin-bottom: 15px;
}

.Languages, .Frontend, .Backend, .Database {
    display: flex;
    flex-direction: row;
    align-items: center;
    height : 25%;
    width : 100%
}

.LanguageContainer, .FrontendContainer, .BackendContainer, .DatabaseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width : 100%;
    height : 100%;
}

.TechnologyCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.ProjectDesc {
    font-family: "Montserrat";
}


@media (min-width : 1440px) {
    .TechnologyCont {
        width : 80px;
        height: 80px;
    }
}

.TechnologyCont img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.TechnologyType {
    font-family: GlitchFont;
    font-weight: bold;
}


@media (min-width : 1440px) {
    .TechnologyType {
        font-size: 25px;
    }
}

.ProjectsBanner {
    text-align: center;
    font-size: 50px;
    font-family: GlitchFont;
    color: white;
    width: 100%;
}

@media (max-width: 1023px) and (pointer: coarse) and (hover: none) {
    .ProjectsBanner {
        font-size: 25px;
    }
}

@media (min-width : 1440px) {
    .ProjectsBanner {
        font-size: 50px;
    }
}

.ProjectLink {
    font-family: GlitchFont;
    transform: scale(1.2);
}

@media (max-width: 1023px) and (pointer: coarse) and (hover: none) {
    .ProjectLink {
        font-size: 10px;
        margin-top: 15px;
    }
}

@media (min-width : 1440px) {
    .ProjectLink {
        font-size: 25px;
        margin-top: 15px;
    }
}

.ProjectLink:hover {
    transform: scale(1.2);
}



@keyframes slide-up {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity : 100%
    }
    100% {
        opacity : 0%
    }
}

.Slide-Up {
    animation: slide-up 0.7s both;
}

.Fade-Out {
    animation: fade-out 0.7s both;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.Fade-In {
    animation: fade-in 1.2s both;
}


@media (max-width: 1023px) and (pointer: coarse) and (hover: none) {
    .TechnologyType {
        font-size: 10px;
    }



    .TechnologyCont {
        width : 50px;
        height: 50px;
    }



    .ProjectImageContainer {
        width : 100px;
        height : 100px;
        margin-right: 20px;
    }



    .ProjectDesc {
        font-size: 12px;
    }



    .ImgAndDesc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width : 100%;
        height : fit-content;
    }



    .ProjectName {
        font-family: GlitchFont;
        font-weight: bold;
        font-size: 15px;
    }



    .ProjectContainer {
        min-height: 500px;
        height: fit-content;
    }



    .header {
        font-size : 20px;
    }




    .ProjectIMG, .UbuntuLogo {
        width : 0px;
        height: 0px;
        display: none;
    }

    .ProjectDesc {
        font-size: 15px;
    }
}

@media (max-width: 1439px) and (min-width : 1024px) and (pointer: coarse) and (hover: none) {



    .divider {
        height: 5px;
        min-height: 5px;
        margin-bottom: 15px;
    }

    .ProjectName {
        font-family: GlitchFont;
        font-size: 35px;
    }

    .ProjectIMG, .UbuntuLogo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left : 2%;
        width: 45%;
    }

    .ProjectIMG img, .UbuntuLogo img {
        object-fit: contain;
        width: 100%;
    }

    .ProjectImageContainer {
        width: 100%;
    }

    .ProjectImageContainer img {
        object-fit: contain;
        width: 50%;
    }

    .ProjectDesc {
        font-size: 20px;
        font-family: "Montserrat";
    }
}