@font-face {
    font-family: GlitchFont;
    src: url('../assets/fonts/CfGlitchCityRegular-L1vZ.ttf');
}

@media (max-width : 1439px) {
    .ProjectIMG {
        width : 0px;
        height: 0px;
        display: none;
    }
}

@media (min-width : 1440px) {
    .ProjectIMG {
        position: absolute;
        height: 500px;
        left : 50px;
        bottom : 70px;
        overflow-y: hidden;
    }
}

.ProjectIMG img {
    width: 100%;
    height : 100%;
    overflow-y: hidden;
}

.AboutPage {
    width: 100%;
    height: 100%;
}

.ProjectInformation {
    display: flex;
    flex-direction: column;
    position: absolute;
}

@media (max-width : 1439px) {
    .ProjectInformation {
        left : 50%;
        transform: translate(-50%);
        width : 300px;
    }
}

@media (min-width : 1440px) {
    .ProjectInformation {
        display: flex;
        flex-direction: column;
        position: absolute;
        right : 50px;
        width : 700px;
    }
}

.Socials {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width : 1439px) {
    .Socials {
        bottom : 20px;
        right: 20px;
        flex-direction: row;
    }
}

@media (min-width : 1440px) {
    .Socials {
        top : 5px;
        right: 5px;
        flex-direction: column;
    }
}

.Github {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Github button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.Github img {
    position: relative;
    width: 50px;
    height: auto;
}

.YouTube {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.YouTube button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.YouTube img {
    position: relative;
    width: 50px;
    height: auto;
}

.GetYourStart {
    width : 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.GetYourStart button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    background-color: transparent;
    border-width: 0px;
}

.GetYourStart img {
    position: relative;
    width: 50px;
    height: auto;
}

.ProjectPageDetails {
    background-color: black;
    position: relative;
    color: white;
    width: 100%;
    height: 450px;
}

.ProjectPageDetails p {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    left: 80px;
    width : 80%
}

@media (max-width : 1439px) {
    .ProjectPageDetails p {
        font-size: 15px;
        left: 50px;
    }
}

@media (min-width : 1440px) {
    .ProjectPageDetails p {
        font-size: 25px;
        left: 70px;
    }
}

.ProjectPageDetails h2 {
    position: relative;
    font-family: GlitchFont;
}

@media (max-width : 1439px) {
    .ProjectPageDetails h2 {
        font-size: 20px;
        left: 20px;
    }
}

@media (min-width : 1440px) {
    .ProjectPageDetails h2 {
        font-size: 30px;
        left: 20px;
    }
}

.divider {
    width: 100%;
    height : 5px;
    background-color: white;
    margin-bottom: 25px;
}

.header {
    text-align: center;
    font-family: GlitchFont;
    color: white;
}

@media (max-width : 1439px) {
    .header {
        font-size : 20px;
    }
}

@media (min-width : 1440px) {
    .header {
        margin-top: 170px;
        font-size : 50px;
    }
}

.About {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width : 390px) {
    .About {
        align-items: center;
    }
}

@media (min-width : 768px) {
    .About {
        align-items: flex-start;
    }
}

.Projects {
    width: 100%;
    height: 100%;
}

.ListOfProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    justify-items: center;
    align-items: center;
}


.ProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-color:  rgb(228, 228, 228);
    border-width: 1px;
    border-style: solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.164);
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

@media (max-width : 1439px) {
    .ProjectContainer {
        min-height: 500px;
        height: fit-content;
    }
}

@media (min-width : 1440px) {
    .ProjectContainer {
        min-height: 700px;
        height: fit-content;
    }
}

.Project {
    padding: 25px 25px 25px 25px;
    width : 80%;
    height : 80%
}

@media (max-width : 700px) {
    .Project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width : 1439px) {
    .ProjectName {
        font-family: GlitchFont;
        font-weight: bold;
        font-size: 15px;
    }
}

@media (min-width : 1440px) {
    .ProjectName {
        font-family: GlitchFont;
        font-weight: bold;
        font-size: 25px;
    }
}

@media (max-width : 1439px) {
    .ImgAndDesc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width : 100%;
        height : fit-content;
    }
}

@media (min-width : 1440px) {
    .ImgAndDesc {
        display: flex;
        flex-direction: row;
        align-items: center;
        height : fit-content;
    }
}

@media (max-width : 1439px) {
    .ProjectDesc {
        font-size: 12px;
    }
}

@media (min-width : 1440px) {
    .ProjectDesc {
        font-size: 20px;
        width : 600px;
        height: 100%;
        text-wrap: wrap;
    }
}

.ProjectImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width : 1439px) {
    .ProjectImageContainer {
        width : 100px;
        height : 100px;
        margin-right: 20px;
    }
}

@media (min-width : 1440px) {
    .ProjectImageContainer {
        width : 200px;
        height : 200px;
        margin-right: 20px;
    }
}

.ProjectImageContainer img {
    display: flex;
    align-self: center;
    width : 100%;
    height : auto;
    object-fit: contain;
}

.Technologies {
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    width : 100%;
    height : 60%;
    max-width : 100%;
    margin-bottom: 15px;
}

.Languages, .Frontend, .Backend, .Database {
    display: flex;
    flex-direction: row;
    align-items: center;
    height : 25%;
    width : 100%
}

.LanguageContainer, .FrontendContainer, .BackendContainer, .DatabaseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width : 100%;
    height : 100%;
}

.TechnologyCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width : 1439px) {
    .TechnologyCont {
        width : 50px;
        height: 50px;
    }
}

@media (min-width : 1440px) {
    .TechnologyCont {
        width : 80px;
        height: 80px;
    }
}

.TechnologyCont img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.TechnologyType {
    font-family: GlitchFont;
    font-weight: bold;
}

@media (max-width : 1439px) {
    .TechnologyType {
        font-size: 10px;
    }
}

@media (min-width : 1440px) {
    .TechnologyType {
        font-size: 25px;
    }
}

.ProjectsBanner {
    text-align: center;
    font-size: 50px;
    font-family: GlitchFont;
    color: white;
    width: 100%;
}

@media (max-width : 1439px) {
    .ProjectsBanner {
        font-size: 25px;
    }
}

@media (min-width : 1440px) {
    .ProjectsBanner {
        font-size: 50px;
    }
}

.ProjectLink {
    font-family: GlitchFont;
    transform: scale(1.2);
}

@media (max-width : 1439px) {
    .ProjectLink {
        font-size: 10px;
        margin-top: 15px;
    }
}

@media (min-width : 1440px) {
    .ProjectLink {
        font-size: 25px;
        margin-top: 15px;
    }
}

.ProjectLink:hover {
    transform: scale(1.2);
}

.InitialSection {
    width : 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes slide-up {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity : 100%
    }
    100% {
        opacity : 0%
    }
}

.Slide-Up {
    animation: slide-up 0.7s both;
}

.Fade-Out {
    animation: fade-out 0.7s both;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.Fade-In {
    animation: fade-in 1.2s both;
}