.ResumePage {
    width: 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.Resume {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    justify-self: center;
    margin-top: 2.5%;
}

@media (min-width : 390px) {
    .ResumeCont {
        padding: 25px 25px 25px 25px;
        font-size: 15px;
    }
}

@media (min-width : 768px) {
    .ResumeCont {
        padding: 25px 25px 25px 25px;
        font-size: 20px;
    }
}

@media (min-width : 390px) {
    .ResumeCont {
        padding: 25px 25px 25px 25px;
        font-size: 15px;
    }
}

@media (min-width : 768px) {
    .ResumeCont {
        padding: 25px 25px 25px 25px;
        font-size: 20px;
    }
}